.banner{
    background: rgba(224, 235, 227, 0.7);
    // filter: blur(2.5px);
    display: flex;
    margin-bottom: 40px;
    &-left{
        img{

            width: 100%;
        }
    }
    &-right{
        display: flex;
        flex-direction: column;
        margin: auto;
        margin-right: 200px;
        max-width: 300px;
        p{
            font-weight: 700;
            font-size: 36px;
            margin: 0;
            margin-bottom: 15px;
        }
        span{
            word-break: break-word;;
            -webkit-line-clamp: 3;
            font-size: 10px;
        }
        button{
            background: rgba(121, 0, 0, 0.9);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            padding: 10px 30px;
            font-size: 16px;
            color: #fff;
            border: none;
            outline: none;
            cursor: pointer;
            margin-top: 40px;
        }
        
    }
}
// .slick-center{
//     img{
//         // width: 450px !important;
//         // width: 450px;
//         // height: 150px;
//     }
// }
// .slick-slide{
//     opacity: 0.4;
// }
// .slick-center { 
//     // transform: scale(1.08);
//     height: 270px;
//     opacity: 1;
//     z-index: 1;
//   }
.banner2 .slick-slide{
    background-color: #b32532;
    color: #FFF;
    // height: 200px;
    // margin: 0 15px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
  /*   transform: scale(0.8); */
    transition: all 0.4s ease-in-out;
  }
  .banner2 .slick-slide,
  .banner2 .slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {
    transform: scale(0.9, 0.9);
    transition: all 0.4s ease-in-out;
  }
  
  /* Active center slide (You can change anything here for cenetr slide)*/
  .banner2 .slick-center,
  .banner2 .slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"] {
    transform: scale(1.1);
    background-color: #000000;
  }
  .banner2 .slick-current.slick-active{
    transform: scale(1.1);
    background-color: #000000;
  }
  
  .slick-next, .slick-prev{
    z-index: 5;
  }
  .slick-next{
    // right: 15px;
  }
  .slick-prev{
    // left: 15px;
  }
  .slick-next:before, .slick-prev:before{
    color: #000;
    font-size: 26px;
  }
  